<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
crossorigin="anonymous"
/>
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
 
  </head>
  <body>
    
    <div class="area">
        
        <div class="container">
            <div class="container">
                <div class="container">
            
        <form action = '/editdashboard' method= 'POST'>
            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" class="form-control" id="uname"
                    placeholder="Enter User Name" name="uname" value="{{current_user.uname}}">
            </div>
           
            <div class="form-group">
                <label for="dob">Date of birth</label>
                <input type="date" class="form-control" id="dob"
                    placeholder = "Enter the Date of birth" name="dob" value="{{current_user.dob.date()}}">
            </div>  
         <div class="form-group">
            <label for="sex" >Sex</label> 
            <select for="sex" class="form-control" name="sex" >
        <option value="{{current_user.sex}}" class="form-control" >{{current_user.sex}}  
        </option>  
        <option value = "male" class="form-control"> Male   
        </option>  
        <option value = "female" class="form-control"> Female  
        </option>  
        <option value = "others" class="form-control"> others
        </option>  
          </select>      
          <div class="form-group">
            <label for="bloodgroup" >bloodgroup</label> 
            <select for="bloodgroup" class="form-control" name="bloodgroup" >
        <option value="{{current_user.bloodgroup}}" class="form-control" >{{current_user.bloodgroup}} 
        </option>  
        <option value = "A+" class="form-control"> A+   
        </option>  
        <option value = "A-" class="form-control"> A- 
        </option>  
        <option value = "B+" class="form-control"> B+
        </option> 
        <option value = "B-" class="form-control"> B-
        </option> 
        <option value = "O+" class="form-control"> O+
        </option> 
        <option value = "O-" class="form-control"> O-
        </option> 
        <option value = "AB+" class="form-control"> AB+
        </option> 
        <option value = "AB-" class="form-control"> AB-
        </option> 
          </select>   
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address"
                placeholder="Enter Address" name="address" heigth="100" width="20" value="{{current_user.address}}">
            </textarea>
        </div>  
        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city"
                placeholder="Enter City" name="city" value="{{current_user.city}}">
        </div> 
        <div class="form-group">
            <!--label for="email">Email</label-->
            <input type="email" class="form-control" id="email"
                placeholder="Enter Email" name="email" value="{{current_user.email}}" hidden>
        </div>  
            <div class="form-group">
                <label for="contact">Contact No</label>
                <input type="text" class="form-control" id="contact"
                    placeholder="Enter Contact Number" name="contact" value="{{current_user.contact}}">
            </div>
          <button type="submit" class="btn bg-success">
                Update
            </button>
        </form>
        </div>
        </div>
        </div>
       
    </div><nav class="main-menu">
        
            <ul>
                <li>
                    <a href="{{url_for('views.userdashboard')}}">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                           Detail
                        </span>
                    </a>
                  
                </li>
                
               <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-edit fa-2x"></i>
                        <span class="nav-text">
                            Edit details
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="{{url_for('views.changepassword')}}">
                       <i class="fa fa-lock fa-2x"></i>
                        <span class="nav-text">
                            Change password
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="{{url_for('views.uploadhealthcertificate')}}">
                       <i class="fa fa-upload fa-2x"></i>
                        <span class="nav-text">
                            Upload health certificate
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="/{{current_user.id}}/lastdonationdate">
                       <i class="fa fa-tint fa-2x"></i>
                        <span class="nav-text">
                            Last donation date
                        </span>
                    </a>
                   
                </li>
                <!--li>
                    <a href="#">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-text">
                            Surveying Tutorials
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-text">
                           Surveying Jobs
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-cogs fa-2x"></i>
                        <span class="nav-text">
                            Tools & Resources
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Member Map
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li-->
            </ul>

            <ul class="logout">
                <li>
                   <a href="{{url_for('auth.logout')}}">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>

        
        
        <script
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"
      ></script>
      <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
   
         
</body>
    </html>